//--------------------------------------
// Variables
//--------------------------------------

// Notes...

// General
// -------------------------------------

// Notes...

$black: rgb(0, 0, 0);

$white: rgb(255, 255, 255);

// Grays
// -------------------------------------

// Notes...

// Branding
// -------------------------------------

// Notes...

$lighter-blue: #57a4ce;
$light-blue: #328fc1;
$blue: #0d7ebb;
$dark-blue: #066293;
$darker-blue: #044c73;

$lighter-darker-blue: #6b67d6;
$light-darker-blue: #4843cc;
$darker-blue: #2620c7;
$dark-darker-blue: #1711a2;
$darker-darker-blue: #110c7e;

$lighter-yellow: #ffda64;
$light-yellow: #ffcf37;
$yellow: #ffc305;
$dark-yellow: #e8b000;
$darker-yellow: #b58900;

$lighter-orange: #ffb864;
$light-orange: #ffa437;
$orange: #ff8d05;
$dark-orange: #e87e00;
$darker-orange: #b56200;

$lighter-red: #ff7664;
$light-red: #ff4e37;
$red: #ff2205;
$dark-red: #e81b00;
$darker-red: #b51500;
