//--------------------------------------
// Variables
//--------------------------------------

// Notes...

// General
// -------------------------------------

// Notes...

$black: rgb(0, 0, 0);

$white: rgb(255, 255, 255);

// Grays
// -------------------------------------

// Notes...

// Branding
// -------------------------------------

// Notes...

$blue: #0d7ebb;
$dark-blue: #2620c7;
$yellow: #ffc305;
$orange: #ff8d05;
$red: #ff2205;
